@charset "utf-8";
@font-face {
  /*フォントの名前*/
  font-family: "LINESeedJP_OTF";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/fonts/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  /*フォントの名前*/
  font-family: "LINESeedJP_OTF";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  /*フォントの名前*/
  font-family: "Rampart One";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/fonts/RampartOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}