---
import Layout from '../layouts/Layout.astro';
---

<Layout title="トップページ">
  <!--  -->
  <h1>フォントの読み込みのテストをしています。</h1>
</Layout>

<style>
  h1 {
    font-family: 'Rampart One', serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
