---
import Layout from '/src/layouts/Layout.astro';
import Keyvisual from '/src/components/Keyvisual.astro';
import AboutSec from '/src/components/section/AboutSec.astro';
import SlideImages from '/src/components/parts/SlideImages.astro';
import ContentsList from '/src/components/section/ContentsList.astro';
import RankingSec from '/src/components/section/RankingSec.astro';
import HighlightsSec from '/src/components/section/HighlightsSec.astro';
---

<Layout title="トップページ">
  <Keyvisual />
  <div class="contents">
    <AboutSec />
    <SlideImages />
    <ContentsList />
    <RankingSec />
    <HighlightsSec />
  </div>

  <style>
    h1 {
      font-family: 'Rampart One', serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</Layout>
