<footer>
  <small>
    <p>
      Copyright &copy; 2025 TOKYO DESIGN TECHNOLOGY CENTER.ALL RIGHTS RESERVED
    </p>
  </small>
</footer>

<style>
  footer {
    background: var(--bg-color-100);
    width: 100%;
    padding-block: 1rem;
    margin-top: 180px;
    p {
      font-size: 0.75rem;
      text-align: center;
      color: var(--text-color-white);
    }
  }
</style>
