---
import SecTitle from '/src/components/parts/SecTitle.astro';
---

<section>
  <SecTitle title="学園祭について" />
  <p>
    文化祭では、学生がこれまで学んできた技術やクリエイティビティを披露する大切なイベントです。<br
    />
    この文化祭では、学生たちがデザイン、ゲーム制作、映像、CG、Webデザインなどの分野で<br
    />
    制作した作品やプロジェクトを展示がたくさん！<br />
    学科ごとに特徴的な展示が行われ、学生たちの独自のアイデアや技術力が感じられる作品が並びます。<br
    />
  </p>
</section>

<style>
  /* aboutのみセクションのpadding値を変更しています */
  section {
    padding: 150px 14px;
  }
  p {
    text-align: center;
    line-height: 2;
  }
</style>
