---
import SecTitle from '/src/components/parts/SecTitle.astro';
---

<section>
  <SecTitle title="来場者の声" />
  <ul class="comment-wrap">
    <li>
      <img src="" alt="" />
    </li>
  </ul>
</section>
