---
import SecTitle from '/src/components/parts/SecTitle.astro';
---

<section>
  <SecTitle title="来場者の声" />
  <ul class="comment-wrap">
    <li>
      <img src="/src/assets/image/person/image1.png" alt="" />
      <div class="c_text">
        <p>高校一年生の声</p>
        <p>飲食系の出店がたくさんあって楽しかったです</p>
      </div>
    </li>
  </ul>
</section>

<style></style>
