---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';
import Contents from '/src/data/contentsList.js';
---

<section>
  <SecTitle title="展示物・ステージ企画一覧" />
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- スライド -->
      {
        Contents.content.map((group) => (
          <ul class="swiper-slide">
            {group.map((content) => (
              <li>
                <Image src={content.image} alt={content.alt} width="200" />
                <div class="text">
                  <h3>{content.title}</h3>
                  <p>{content.description}</p>
                </div>
              </li>
            ))}
          </ul>
        ))
      }
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<style>
  .swiper {
    width: inherit;
    height: fit-content;
    position: relative;
  }

  .swiper-slide {
    box-sizing: border-box;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    li {
      padding: 1rem;
      background: #ccc;
      height: 150px;
      border-radius: 0.5rem;
    }
  }
</style>

<script>
  // Swiperとそのモジュールをインポート
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  import 'swiper/css/bundle';

  // スライダー設定スクリプト
  const swiper = new Swiper('.swiper', {
    modules: [Pagination],
    loop: true, // 無限ループ
    speed: 500,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
