---
import SecTitle from '/src/components/parts/SecTitle.astro';
import Contents from '/src/data/contentsList.js';
---

<section>
  <SecTitle title="展示物・ステージ企画一覧" />
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- スライド -->
      {
        Contents.content.map((group) => (
          <div class="swiper-slide">
            {group.map((content) => (
              <div>{content.title}</div>
            ))}
          </div>
        ))
      }
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<style>
  .swiper {
    width: inherit;
    height: fit-content;
    position: relative;
  }

  .swiper-slide {
    box-sizing: border-box;
    background: #f0f0f0;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    div {
      background: #ccc;
      height: 150px;
      border-radius: 0.5rem;
    }
  }
</style>

<script>
  // Swiperとそのモジュールをインポート
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  import 'swiper/css/bundle';

  // スライダー設定スクリプト
  const swiper = new Swiper('.swiper', {
    modules: [Pagination],
    loop: true, // 無限ループ
    speed: 500,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
