---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';
import Contents from '/src/data/contentsList.js';
---

<section id="contents">
  <SecTitle title="展示物・ステージ企画一覧" />
  <div class="swiper" id="c_content">
    <div class="swiper-wrapper">
      {
        (() => {
          // 配列を 6 件ごとに分割
          const groupedContent = [];
          while (Contents.content.length) {
            groupedContent.push(Contents.content.splice(0, 6));
          }

          // 分割した配列を利用してコンテンツを生成
          return groupedContent.map((group) => (
            <ul class="swiper-slide">
              {group.map((content) => (
                <li>
                  <Image
                    src={content.image}
                    alt={content.alt}
                    width="720"
                    height="480"
                  />
                  <div class="text">
                    <h3>
                      <span>展示名</span>
                      <span>{content.title}</span>
                    </h3>
                    <p>
                      <span>展示内容</span>
                      <span>{content.description}</span>
                    </p>
                  </div>
                </li>
              ))}
            </ul>
          ));
        })()
      }
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<style>
  .swiper {
    width: inherit;
    height: fit-content;
    position: relative;
  }

  .swiper-slide {
    box-sizing: border-box;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);

    li {
      height: 150px;
      border-radius: 0.5rem;

      display: grid;
      grid-template-columns: 150px 1fr;

      background: var(--bg-color-200);

      /* &:nth-child(1),
      &:nth-child(4) {
        background: var(--primary-color-100);
      }
      &:nth-child(2),
      &:nth-child(5) {
        background: var(--primary-color-200);
      }
      &:nth-child(3),
      &:nth-child(6) {
        background: var(--primary-color-300);
      } */

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }

      .text {
        padding: 1rem;
        height: fit-content;

        h3,
        p {
          display: grid;
          grid-template-columns: 80px 1fr;
        }
        span + span {
          display: flex;
          &::before {
            content: '：';
          }
        }
      }
    }
  }
</style>

<script>
  // Swiperとそのモジュールをインポート
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  import 'swiper/css/bundle';

  // スライダー設定スクリプト
  const swiper = new Swiper('#c_content', {
    modules: [Pagination],
    loop: false,
    speed: 500,
    spaceBetween: 16,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
