---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';

import image01 from '/src/assets/image/highlight/image1.png';
import image02 from '/src/assets/image/highlight/image2.png';
import image03 from '/src/assets/image/highlight/image3.png';
import image04 from '/src/assets/image/highlight/image4.png';
import image05 from '/src/assets/image/highlight/image5.png';
import image06 from '/src/assets/image/highlight/image6.png';
import image07 from '/src/assets/image/highlight/image7.png';
import image08 from '/src/assets/image/highlight/image8.png';

const images = [
  image01,
  image02,
  image03,
  image04,
  image05,
  image06,
  image07,
  image08,
];
---

<section>
  <SecTitle title="当日の様子" />
  <div class="swiper" id="h_content">
    <div class="swiper-wrapper">
      {
        images.map((image, index) => (
          <div class="swiper-slide">
            <Image
              src={image}
              alt={`${index + 1}個目の画像`}
              width="200"
              height="150"
            />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<style>
  .swiper {
    width: 100%;
    height: fit-content;
    position: relative;
  }
  .swiper-slide {
    padding-bottom: 4rem;
    div {
      width: 100%;
      aspect-ratio: 4/3;
      background: #ccc;
    }
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      scale: 0.9;
      transition: scale 0.5s;
      border-radius: 0.5rem;
    }
  }
  .swiper-slide-active {
    img {
      scale: 1;
    }
  }
</style>

<script>
  // Swiperとそのモジュールをインポート
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  import 'swiper/css/bundle';

  // スライダー設定スクリプト
  const swiper = new Swiper('#h_content', {
    modules: [Pagination],
    loop: true, // 無限ループ
    slidesPerView: 3,
    speed: 500,
    centeredSlides: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
