---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';
import Contents from '/src/data/contentsList.js';
---

<section>
  <SecTitle title="出展ランキング" />
  <ul>
    {
      Contents.content
        .flat()
        .filter((content) => content.ranking) // rankingがあるコンテンツだけをフィルタリング
        .sort((a, b) => a.ranking - b.ranking) // ranking順に昇順でソート
        .map((content) => (
          <li>
            {content.ranking}位: {content.title}
          </li>
        ))
    }
  </ul>
</section>
