---
import { Image } from 'astro:assets';
import SecTitle from '/src/components/parts/SecTitle.astro';
import Contents from '/src/data/contentsList.js';
---

<section>
  <SecTitle title="出展ランキング" />
  <ul>
    {
      Contents.content
        // ネストされた配列をフラットにする
        .flatMap((array) => array)
        // rankingがある要素だけを抽出
        .filter((content) => content.ranking)
        // ranking順にソート
        .sort((a, b) => a.ranking - b.ranking)
        .map((content) => (
          <li>
            {content.ranking}位: {content.title}
          </li>
        ))
    }
  </ul>
</section>
