---
import { Image } from 'astro:assets';
const oddImage = [
  'slide-image1.png',
  'slide-image2.png',
  'slide-image3.png',
  'slide-image4.png',
  'slide-image5.png',
  'slide-image6.png',
];
const evenImage = [
  'slide-image8.png',
  'slide-image9.png',
  'slide-image10.png',
  'slide-image11.png',
  'slide-image12.png',
  'slide-image13.png',
];
---

<div id="container">
  <div id="scroll-wrap">
    <ul class="slide-row odd">
      {
        oddImage.map((image) => (
          <li>
            <Image
              src={`/src/assets/image/slide/${image}`}
              alt=""
              width="200"
              height="150"
            />
          </li>
        ))
      }
    </ul>
    <ul class="slide-row even">
      {
        evenImage.map((image) => (
          <li>
            <Image
              src={`/src/assets/image/slide/${image}`}
              alt=""
              width="200"
              height="150"
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  #container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/1;
    position: relative;
  }
  #scroll-wrap {
    margin-bottom: 100vh;
    width: 100%;
    height: fit-content;
    padding-block: 40px;
    display: grid;
    position: absolute;
    margin: auto;
    inset: 0;
    gap: 2vw;
    rotate: -10deg;
    .slide-row {
      display: flex;
      gap: 2vw;
      li {
        width: 18vw;
        aspect-ratio: 4/3;
        background: #ccc;
        border-radius: 20px;
        overflow: hidden;
        filter: blur(1px) grayscale(80%);
        transition: filter 0.2s;
        &:hover {
          filter: blur(0px) grayscale(0);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>

<script>
  import { gsap } from 'gsap/dist/gsap';

  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);
  // 関数オブジェクトにして管理
  const moveX = (value) => ({
    x: value,
    scrollTrigger: {
      trigger: '#scroll-wrap',
      scrub: 'none',
    },
  });

  gsap.from('.odd', moveX(-200));
  gsap.to('.even', moveX(-200));
</script>
